.SortableTable {
  width: 100% !important;
  padding: 0;
}

.SortableTable .dropdown {
  display:inline-block;
}

.SortableTable .dropdown-menu.show {
  margin-top: -1px;
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
}

.SortableTable .btn-primary,
.SortableTable .btn-primary:active,
.SortableTable .btn-primary:hover,
.SortableTable .btn-primary:focus {
  padding: 1em;
  margin: 1em;
  outline: none !important;
  outline-style: hidden;
  box-shadow: none;
  background-color: white !important;
  color: black !important;
  border: 1px solid #f4f4f4 !important;
}

.SortableTable .dropdown.show .btn-primary {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
}

.SortableTable .btn-secondary,
.SortableTable .btn-secondary:active,
.SortableTable .btn-secondary:hover {
  padding: 1em;
  margin: 1em;
  background-color: #76B68C !important;
  color: white !important;
  border: 1px solid #f4f4f4 !important;
}

.SortableTable table{
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  font-family: 'IBM-Plesk-Regular' !important;
}

.SortableTable .pagination-buttons i {
  padding: .5em .5em;
  cursor: pointer;
}

.SortableTable .pagination-buttons i.disabled {
  color: lightgrey;
}
.SortableTable table tr {
  color: #666;
  width: 100%;
}

.SortableTable table td {
  border-bottom: 1px solid #f4f4f4;
}

.SortableTable table th {
  color: black;
  border-bottom: 1px solid #f4f4f4;
}

.SortableTable table tbody tr:hover {
  background-color: #fafbfb;
  color: black;
}

.SortableTable table th, .SortableTable table td {
  padding: 1.25em;
}

.SortableTable table td .custom-btn {
  border: 1px solid #ccc;
  color: #000;
  opacity: 0;
  transition:  opacity 200ms 200ms;
}
.SortableTable table tr:hover .custom-btn {
  opacity: 1;
  transition:  opacity 200ms 200ms;
}
.SortableTable table tr .custom-btn:active,
.SortableTable table tr .custom-btn:hover,
.SortableTable table tr .custom-btn:focus {
  background-color: #f4f4f4;
}


.SortableTable .tableSortInput input {
  border: 1px solid black;
}

.SortableTable .tableSortInput i.search-icon {
  cursor: pointer;
}

.SortableTable .tableSortInput input {
  border-radius: 0;
  padding: 1em;
  margin-bottom: 1em;
  width: 500px;
}

.SortableTable .tableSortInput button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 5px;
  padding: 1em;
  margin: 1em;
  background-color: white;
  border: 1px solid #f4f4f4;
  color: black;
}

.SortableTable .tableSortInput button:hover {
  background-color: #f4f4f4;
}

.SortableTable .table-search-wrapper {
  position:relative;
}

.SortableTable .table-search-wrapper input{
  background-color: white;
  color: black;
  border: 1px solid  #c4c4c4;
}

.SortableTable .table-search-wrapper i{
    height: 20px;
    position: absolute;
    right: 20px;
    top: 0;
}

.SortableTable i.verified-mark {
    color: #76B68C;
}
