.LotSection {
  padding-top: 1em;
  padding-bottom: 2em;}

.LotSection h2 {
  text-transform: capitalize;
}

.parent-link {
  background-color: #877596;
  color: #ffffff;
  width: 99%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em;
  margin-left: 1em;

}

.LotSection .col-md-4, .LotSection .col-4 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.LotSection a:focus { outline: 0; }

.LotDetailValue {
  font-weight: bold;
}
.LotDetailHeader a { color: #ffffff; }

.note-wrapper, .product-image {
  padding-bottom: .5em;
  padding-top: .5em;
}

.product-image img {
  width: 100%;
}

h2 img.verified {
  margin-top: -0.1em
}

.LotDetailHeader {
  background-color: #3e3d4d;
  margin: 1em 1em 1em 1em;
  color: white;
  padding: 1em 1em 1.5em 1em;
  width: 99%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.LotDetailHeader .col div.backButton {
  padding: .5em 0 1em 0;

}
.LotDetailHeader .col h1 img {
  padding-left: .5em;
}
.LotDetailHeader .col:last-child {
  text-align: center;
}

.LotDetailHeader .col .btn-custom,
.LotDetailHeader .col .btn-custom:active,
.LotDetailHeader .col .btn-custom:disabled,
.LotDetailHeader .col .btn-custom:hover {
  background-color: #87859E;
  opacity: 100;
  color: white;
  text-transform: uppercase;
  font-size: 1.25em;
  padding: .5em 1em;
}
.LotDetailHeader .col .btn-custom i {
 padding-right: .5em;
}

.LotDetailSummary {
  border: 1px solid #f4f4f4;
  margin: 1em 1em 1em 0;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.lot-org-relationship {
  font-size: .8em;
  color: white;
  font-weight: bold;
  background-color: #3e3d4d;
  padding: .1em .5em;
  margin: .25em 0 1em;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-transform: uppercase;
}

.LotDetailSummary .lot-org-summary {
  display: flex;
  margin-left: -1em;
}


.LotDetailSummary .lot-org-summary .summary-count {
  text-align: center;
  margin: 1em;
  padding: 0 1em;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.LotDetailSummary .lot-org-summary .summary-count h3 {
  font-weight: 100;
  color: grey;
}

.LotDetailSummary .lot-org-summary .summary-count h5 {
  font-size: 95%;
  text-transform: uppercase;
}

.LotDetailSummary .lot-org-summary .summary-count:first-child,
.LotDetailSummary .lot-org-summary .summary-count:last-child {
  border: none;
  margin: 1em 0;
}

.LotDetailSummary .lot-org-verification i {
  color: #76B68C;
}

.LotStateSection {
  margin: 1em 1em 1em 0;
  padding: 1em;
  width: 100%;
}

.LotStateSection .state-buttons {
  border: none;
  margin-left: -1em;
}

.LotStateSection .btn{
  color: white;
  background-color: #3e3d4d;
  padding: 1em 3em;
  text-transform: uppercase;
  margin: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
}

.LotStateSection .btn::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 40px;
  left: 100%;
  top: calc(50% - 2px);
}

.LotStateSection .btn:last-child::after {
  display: none;
}

.LotStateSection .btn.active {
  background-color: #76B68C;
  text-transform: uppercase;
}
.LotStateSection .state-row {
  margin: 0;
  padding: 1em 0 0 0;
  width: 100%;
}
.LotStateSection .state-row  li{
  list-style-type: none;
  margin: 0 -9999em;
  padding: 1em 9999em;
}

.LotStateSection .state-row  li h5{
  text-transform: uppercase;
}
.LotStateSection .state-row > li:nth-of-type(odd) {
    background: #f6f6f6;
}
