{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
            "@core": "./src/core/src/",
            "@components": "./src/components/",
            "@configs": "./src/configs/",
            "@images": "./src/images/",
            "@layouts": "./src/layouts/",
            "@pages": "./src/pages/",
            "@utils": "./src/utils/",
            "@styles": "./src/styles/"
        }
      }]
    ]
  }