
.lot-summary-card {
  width: 260px;
  height: 260px;
  padding: 1.2em;
  margin: 1em 1em 1em 0;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.lot-summary-card.active {
  background-color: #877596;
 color: white;
}

.lot-summary-card h3{
  text-align: right;
}
.lot-summary-card h4{
  padding-top: 2em;
}
